In [223]:
from __future__ import division, absolute_import, print_function

import numpy as np
import scipy as sp
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split,cross_val_score, GridSearchCV #model_selection only works in python3
from sklearn.linear_model import LinearRegression, Lasso

from sklearn import svm

from sklearn.preprocessing import Imputer
import pandas as pd

In [178]:
url =  'https://ndownloader.figshare.com/files/7586326'
n
raw_data = pd.read_csv(url)

In [13]:
raw_data.head()

,recid,boro,uf1_1,uf1_2,uf1_3,uf1_4,uf1_5,uf1_6,uf1_7,uf1_8,...,hflag4,hflag18,uf52h_h,uf52h_a,uf52h_b,uf52h_c,uf52h_d,uf52h_e,uf52h_f,uf52h_g
0,1,1,9,9,9,9,1,9,9,9,...,0,0,0,0,0,0,0,0,0,0
1,1,1,9,9,9,9,1,9,9,9,...,0,0,1,1,1,0,0,0,0,0
2,1,1,9,9,9,9,1,9,9,9,...,0,0,1,1,1,0,1,0,1,0
3,1,1,9,9,9,9,1,9,9,9,...,0,0,0,0,0,0,0,0,0,0
4,1,1,9,9,9,9,1,9,9,9,...,0,0,1,0,0,0,1,0,0,0

In [179]:
#delete 9999 which is missing value (can't train if there is no response variable)
raw_data = raw_data[data.uf17 != 99999]

#use lasso because we have large amount of features and only expect a few of them to be important

//anaconda/envs/python3/lib/python3.5/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

IndexingError: Unalignable boolean Series key provided

In [49]:
np.shape(data)

(10229, 197)

In [140]:
#familiarizing myself with the data

print(raw_data.cd.value_counts())
print(raw_data.cd.value_counts())

AttributeError: 'DataFrame' object has no attribute 'sc522'

In [180]:
#pd.value_counts(data['boro'].values, sort=False)

print(raw_data.cd.value_counts())

1     1559
3     1427
2     1387
7     1254
5     1253
6     1220
10    1143
8     1105
4     1022
9      868
12     562
11     539
13     504
14     493
18     320
15     277
17     238
16     171
Name: cd, dtype: int64

In [151]:
#taking a look at data

print(data.uf17.value_counts())

1200    528
1000    409
1500    382
1100    371
1300    326
1400    317
900     227
1600    226
800     191
1800    188
2000    160
1700    159
950     123
1250    122
700     121
1350    102
1050     95
7999     91
2500     88
850      87
600      87
3000     83
750      82
1900     81
2100     74
400      74
1650     71
1150     68
2200     68
500      68
       ...
1587      1
1579      1
2205      1
196       1
764       1
252       1
748       1
2789      1
732       1
724       1
2765      1
684       1
628       1
524       1
516       1
492       1
484       1
2525      1
4550      1
452       1
2445      1
388       1
2429      1
4454      1
2397      1
316       1
292       1
284       1
2325      1
2065      1
Name: uf17, dtype: int64

In [335]:
##FEATURE SELECTION

# categorical
cat_features = ['boro','cd']
#continous
cont_features = ['sc150','sc151','uf23']

# 8 is nan
cat_featured_added = ['uf1_1','uf1_2','uf1_3','uf1_4','uf1_5','uf1_6','uf1_7','uf1_8','uf1_9','uf1_10']
cat_featured_test_10 = ['uf1_11','uf1_12','uf1_13','uf1_14','uf1_15','uf1_16','uf1_35','uf1_17','uf1_18']

#cat_featured_test_11 =['uf1_19','uf1_20','uf1_21','uf1_22','sc23','sc24','sc24','sc36','sc37','sc38']
#cat_featured_test_12 = ['sc147','sc171','sc154','sc157','sc197','sc198','sc188','sc190','sc191','sc192','sc193','sc194'] 

#4 is nan
cat_featured_added_1 = ['sc114']

#no nan values
#passenger in building
cat_featured_added_2 = ['sc149','sc152','sc153','sc155','sc156','sc158']

#98,99 nan, 13k of those
#monthly fees, real estate taxes (13.7K nan), stories in building
cont_added = ['uf9','uf10','uf11','uf23']

#9999 is nan (mostly monthly fees)
#sc186 9 is no breakdowns, change to 0
cont_added_1 = ['uf12','uf13','uf14','uf15','uf16','sc186','sc157']

# 8 is not reported
cont_added_2 = ['sc189','sc196','sc199']

#total_cat = cat_features + cat_featured_added + cat_featured_added_1 + cat_featured_added_2
total_cat = cat_features + cat_featured_added_1 + cat_featured_added + cat_featured_test_10

total_cont = cont_features + cont_added + cont_added_1 + cont_added_2 


## REPLACE INTEGERS WITH NaN's

X = raw_data[total_cat + total_cont]

X[cont_added_1].replace([9999,99999],np.nan)


## ONE HOT ENCODING

#turn categorical data into dummies
for i in total_cat:
    X[i] = X[i].astype('category')
    
X_dummies = pd.get_dummies(X) #one hot encoding

print(X_dummies.shape)

#TRAIN TEST SPLIT

X_train,X_test,y_train,y_test = train_test_split(raw_data[total_cont],y,random_state=0)

#IMPUTATION (REPLACING NAN'S)



lasso = Lasso(alpha=2.0).fit(X_train,y_train)
print(lasso.score(X_train,y_train))
print (lasso.score(X_test,y_test))
print(np.sum(lasso.coef_ != 0))

#print (X_dummies.head())

//anaconda/envs/python3/lib/python3.5/site-packages/ipykernel/__main__.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

(15342, 101)
0.788699681213
0.771664462293
17

//anaconda/envs/python3/lib/python3.5/site-packages/sklearn/linear_model/coordinate_descent.py:484: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)

In [339]:
X[cont_added_1].replace([9999,99999],np.nan)

        uf12   uf13   uf14    uf15    uf16  sc186  sc157
0        NaN    NaN   50.0     NaN     NaN      9      1
1      150.0    NaN    NaN     NaN     NaN      9      1
2      190.0    NaN    NaN     NaN     NaN      9      1
3       70.0   90.0    NaN     NaN     NaN      9      1
4        NaN    NaN  289.0  2400.0     NaN      9      1
5      108.0  150.0    NaN     NaN     NaN      9      1
6      100.0    NaN    NaN     NaN     NaN      9      1
7      100.0    NaN    NaN     NaN     NaN      8      8
8        NaN    NaN   70.0   700.0     NaN      3      1
9      450.0    NaN    NaN  4587.0     NaN      9      1
10       NaN    NaN    NaN     NaN     NaN      9      1
11       NaN    NaN    NaN     NaN     NaN      9      1
12       NaN    NaN  300.0     NaN     NaN      2      2
13       NaN    NaN  300.0     NaN     NaN      9      1
14       NaN    NaN  300.0     NaN     NaN      9      1
15       NaN    NaN  816.0     NaN     NaN      9      8
16       NaN    NaN  400.0     NaN     NaN      9      1
17       NaN    NaN    NaN     NaN     NaN      9      8
18     250.0   70.0    NaN     NaN     NaN      9      1
19      70.0   70.0    NaN     NaN     NaN      8      8
20     250.0   70.0    NaN     NaN     NaN      8      8
21     450.0  145.0    NaN     NaN     NaN      9      2
22       NaN    NaN  160.0     NaN     NaN      9      1
23       NaN    NaN  400.0     NaN     NaN      5      1
24       NaN    NaN  200.0   400.0     NaN      4      9
25       NaN    NaN  816.0  1200.0     NaN      9      1
26       NaN    NaN    NaN     NaN     NaN      9      1
27       NaN    NaN    NaN     NaN     NaN      9      1
28     250.0    NaN    NaN     NaN     NaN      9      1
29       NaN    NaN  150.0     NaN     NaN      9      1
...      ...    ...    ...     ...     ...    ...    ...
15312   93.0    NaN    NaN     NaN     NaN      9      1
15313  100.0    NaN    NaN     NaN     NaN      9      1
15314   65.0    NaN    NaN     NaN     NaN      9      1
15315   60.0    NaN    NaN     NaN     NaN      3      1
15316  150.0  300.0    NaN  2400.0     NaN      9      1
15317  325.0    NaN    NaN   600.0  2400.0      5      1
15318   60.0    NaN    NaN     NaN     NaN      5      1
15319  300.0  284.0    NaN  1200.0     NaN      2      1
15320   70.0   20.0    NaN     NaN     NaN      9      1
15321    NaN    NaN    NaN     NaN     NaN      9      1
15322  300.0   20.0    NaN     NaN     NaN      9      1
15323    NaN    NaN  200.0     NaN     NaN      9      1
15324  100.0  694.0    NaN     NaN     NaN      9      1
15325  100.0    NaN    NaN     NaN     NaN      9      1
15326  400.0  400.0    NaN  1200.0     NaN      9      1
15327  100.0  100.0    NaN     NaN     NaN      9      1
15328  300.0   25.0    NaN     NaN     NaN      9      1
15329   55.0    NaN    NaN     NaN     NaN      9      1
15330   56.0    NaN    NaN     NaN     NaN      9      1
15331   40.0    NaN    NaN     NaN     NaN      9      1
15332   45.0    NaN    NaN     NaN     NaN      9      1
15333  250.0  200.0    NaN   600.0     NaN      9      1
15334  223.0  138.0    NaN   600.0     NaN      9      1
15335  250.0   75.0    NaN  2000.0     NaN      9      1
15336  250.0   75.0    NaN  2000.0     NaN      9      1
15337  300.0   30.0    NaN     NaN  1200.0      9      1
15338   65.0   40.0    NaN   400.0     NaN      9      1
15339   75.0   75.0    NaN   600.0     NaN      9      1
15340   75.0   30.0    NaN     NaN  1200.0      8      8
15341   90.0   18.0    NaN     NaN   300.0      4      1

[15342 rows x 7 columns]

In [203]:
#simple linear model

# lr = LinearRegression().fit(X_train,y_train)

# #print (lr.coef_)
# #print (lr.intercept_)

# print(lr.score(X_train,y_train))
# print(lr.score(X_test,y_test))


#lasso regression

lasso = Lasso(alpha=.01).fit(X_train,y_train)

#print (lr.coef_)
#print (lr.intercept_)

print(lasso.score(X_train,y_train))
print(lasso.score(X_test,y_test))
print(np.sum(lasso.coef_ != 0))

mean

0.237198026496
0.22222707103
26

//anaconda/envs/python3/lib/python3.5/site-packages/sklearn/linear_model/coordinate_descent.py:484: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)

In [207]:

print(raw_data.uf23.value_counts())

8     3262
7     3064
5     2180
6     2033
9     2017
1      990
10     595
3      544
4      345
2      312
Name: uf23, dtype: int64

In [216]:
print(raw_data.uf51_.value_counts())

AttributeError: 'DataFrame' object has no attribute 'uf51_'

In [211]:
raw_data.head()

,recid,boro,uf1_1,uf1_2,uf1_3,uf1_4,uf1_5,uf1_6,uf1_7,uf1_8,...,hflag4,hflag18,uf52h_h,uf52h_a,uf52h_b,uf52h_c,uf52h_d,uf52h_e,uf52h_f,uf52h_g
0,1,1,9,9,9,9,1,9,9,9,...,0,0,0,0,0,0,0,0,0,0
1,1,1,9,9,9,9,1,9,9,9,...,0,0,1,1,1,0,0,0,0,0
2,1,1,9,9,9,9,1,9,9,9,...,0,0,1,1,1,0,1,0,1,0
3,1,1,9,9,9,9,1,9,9,9,...,0,0,0,0,0,0,0,0,0,0
4,1,1,9,9,9,9,1,9,9,9,...,0,0,1,0,0,0,1,0,0,0

In [241]:
#print(raw_data.uf1_1.value_counts())
test1 = raw_data['uf1_1']

test1.head()

test1.replace(9,4)

columns_list = raw_data.columns
for i in columns_list:
    print(i)

recid
boro
uf1_1
uf1_2
uf1_3
uf1_4
uf1_5
uf1_6
uf1_7
uf1_8
uf1_9
uf1_10
uf1_11
uf1_12
uf1_13
uf1_14
uf1_15
uf1_16
uf1_35
uf1_17
uf1_18
uf1_19
uf1_20
uf1_21
uf1_22
sc23
sc24
sc36
sc37
sc38
hhr2
uf43
hhr5
race1
uf2a
uf2b
sc51
sc52
sc53
sc54
sc110
sc111
sc112
sc113
sc114
sc115
sc116
sc117
sc118
sc120
sc121
uf5
sc125
uf6
sc127
uf7
sc134
uf7a
uf9
sc140
sc141
uf8
sc143
sc144
uf10
uf48
sc147
uf11
sc149
sc173
sc171
sc150
sc151
sc152
sc153
sc154
sc155
sc156
sc157
sc158
sc159
uf12
sc161
uf13
uf14
sc164
uf15
sc166
uf16
sc174
uf64
uf17
sc181
sc541
sc184
sc542
sc543
sc544
uf17a
sc185
sc186
sc197
sc198
sc187
sc188
sc571
sc189
sc190
sc191
sc192
sc193
sc194
sc196
sc548
sc549
sc550
sc551
sc199
sc575
sc570
sc574
sc560
uf53
uf54
uf19
new_csr
rec15
sc26
uf23
rec21
sc27
rec1
uf46
rec4
rec_race_a
rec_race_c
rec62
rec64
rec54
rec53
tot_per
rec28
uf26
uf28
uf27
rec39
uf42
uf42a
uf34
uf34a
uf35
uf35a
uf36
uf36a
uf37
uf37a
uf38
uf38a
uf39
uf39a
uf40
uf40a
cd
uf30
uf29
rec8
rec7
fw
chufw
seqno
flg_sx1
flg_ag1
flg_hs1
flg_rc1
hflag2
hflag1
hflag13
hflag6
hflag3
hflag14
hflag16
hflag7
hflag9
hflag10
hflag91
hflag11
hflag12
hflag4
hflag18
uf52h_h
uf52h_a
uf52h_b
uf52h_c
uf52h_d
uf52h_e
uf52h_f
uf52h_g

In [265]:
print(raw_data.uf23.value_counts())

8     3262
7     3064
5     2180
6     2033
9     2017
1      990
10     595
3      544
4      345
2      312
Name: uf23, dtype: int64